*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        margin-inline: auto;
        align-items: center;
        background: #333;
        width: 100%;
        height: 100vh;

}

.editBtn{
    background-color: gray;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
      
.deleteBtn{
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
      
.okeyBtn{
    background-color: green;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.todo{
    list-style-type: none;
    background-color: white;
    border-radius: 8px;
}